# Ignore file for Visual Studio 2008/2010

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
*resharper*
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
build/
package/
target/
package-nuget/
PrecompiledWeb/
AssemblyInfo.cs
*.snk
buildlog.txt

# xml api docs output files
src/Common.Logging.EntLib/Common.Logging.EntLib.xml
src/Common.Logging.EntLib41/Common.Logging.EntLib41.xml
src/Common.Logging.Log4Net/Common.Logging.Log4Net.xml
src/Common.Logging.Log4Net129/Common.Logging.Log4Net129.xml
src/Common.Logging.Log4Net1211/Common.Logging.Log4Net1211.xml
src/Common.Logging.NLog/Common.Logging.NLog.xml
src/Common.Logging.NLog2/Common.Logging.NLog2.xml
src/Common.Logging/Common.Logging.xml