# Ignore file for Visual Studio 2008/2010

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
*resharper*
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
build/
package/
target/
package-nuget/
PrecompiledWeb/
*.snk
buildlog.txt
*.DotSettings

# VS local history plugin
.localhistory
.localhistory/*

# xml api docs output files
src/Common.Logging.EntLib31/Common.Logging.EntLib31.xml
src/Common.Logging.EntLib41/Common.Logging.EntLib41.xml
src/Common.Logging.EntLib50/Common.Logging.EntLib50.xml
src/Common.Logging.Log4Net1210/Common.Logging.Log4Net1210.xml
src/Common.Logging.Log4Net129/Common.Logging.Log4Net129.xml
src/Common.Logging.Log4Net1211/Common.Logging.Log4Net1211.xml
src/Common.Logging.NLog10/Common.Logging.NLog10.xml
src/Common.Logging.NLog20/Common.Logging.NLog20.xml
src/Common.Logging/Common.Logging.xml