# Ignore file for Visual Studio 2008/2010

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
build/
package/
target/
package-nuget/
PrecompiledWeb/
*.snk
buildlog.txt
*.DotSettings
project.lock.json
.vs

# xml api docs output files
src/Common.Logging.EntLib31/Common.Logging.EntLib31.xml
src/Common.Logging.EntLib41/Common.Logging.EntLib41.xml
src/Common.Logging.EntLib50/Common.Logging.EntLib50.xml
src/Common.Logging.EntLib60/Common.Logging.EntLib60.xml
src/Common.Logging.Log4Net1210/Common.Logging.Log4Net1210.xml
src/Common.Logging.Log4Net129/Common.Logging.Log4Net129.xml
src/Common.Logging.Log4Net1211/Common.Logging.Log4Net1211.xml
src/Common.Logging.Log4Net1212/Common.Logging.Log4Net1212.xml
src/Common.Logging.Log4Net1213/Common.Logging.Log4Net1213.xml
src/Common.Logging.Log4Net1215/Common.Logging.Log4Net1215.xml
src/Common.Logging.Log4Net206/Common.Logging.Log4Net206.xml
src/Common.Logging.Log4Net207/Common.Logging.Log4Net207.xml
src/Common.Logging.Log4Net208/Common.Logging.Log4Net208.xml
src/Common.Logging.NLog10/Common.Logging.NLog10.xml
src/Common.Logging.NLog20/Common.Logging.NLog20.xml
src/Common.Logging.NLog21/Common.Logging.NLog21.xml
src/Common.Logging.NLog30/Common.Logging.NLog30.xml
src/Common.Logging.NLog31/Common.Logging.NLog31.xml
src/Common.Logging.NLog32/Common.Logging.NLog32.xml
src/Common.Logging.NLog40/Common.Logging.NLog40.xml
src/Common.Logging.NLog41/Common.Logging.NLog41.xml
src/Common.Logging.NLog443/Common.Logging.NLog443.xml
src/Common.Logging.NLog444/Common.Logging.NLog444.xml
src/Common.Logging.NLog4411/Common.Logging.NLog4411.xml
src/Common.Logging/Common.Logging.xml
src/Common.Logging.Portable/Common.Logging.Portable.xml
src/Common.Logging.Core/Common.Logging.Core.xml
src/Common.Logging.MultipleLogger/Common.Logging.MultipleLogger.xml
src/Common.Logging.ApplicationInsights0170/Common.Logging.ApplicationInsights0170.xml
src/Common.Logging.Serilog1514/Common.Logging.Serilog1514.xml
