<?xml version="1.0" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL"/>
        <arg key="showLogName" value="true"/>-->
        <arg key="showDateTime" value="true"/>
        <!--<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>-->
      </factoryAdapter>
    </logging>
  </common>
	<runtime>
	   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	      <dependentAssembly>
	         <assemblyIdentity name="Common.Logging" publicKeyToken="{publicKeyToken}" culture=""/>
	         <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="{version}"/>
	         <codeBase version="{version}" href="Common.Logging.dll"/>
	      </dependentAssembly>
	   </assemblyBinding>
	</runtime>
</configuration>