<?xml version="1.0" ?>
<configuration>
	<runtime>
	   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	      <dependentAssembly>
	         <assemblyIdentity name="Common.Logging" publicKeyToken="{publicKeyToken}" culture=""/>
	         <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="{version}"/>
	         <codeBase version="{version}" href="Common.Logging.dll"/>
	      </dependentAssembly>
	   </assemblyBinding>
	</runtime>
</configuration>