<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
      <section name="logging.multipleLoggers" type="Common.Logging.MultipleLogger.ConfigurationSectionHandler, Common.Logging.MultipleLogger"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.MultipleLogger.MultiLoggerFactoryAdapter, Common.Logging.MultipleLogger">
        <arg key="MeaninglessKey" value="MeaninglessValue"/>
      </factoryAdapter>
    </logging>
    <logging.multipleLoggers>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net129">
        <arg key="Arg" value="INFO"/>
      </factoryAdapter>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="Arg" value="INFO"/>
      </factoryAdapter>
    </logging.multipleLoggers>

  </common>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
