<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:using" value="Common.Logging.Serilog1514" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:CommonLogging" />
  </appSettings>
</configuration>