<?xml version="1.0" ?>
<configuration>
	<runtime>
	   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	      <dependentAssembly>
	         <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture=""/>
	         <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0"/>
	         <codeBase version="2.0.0.0" href="../../../build/net/1.0/release/Common.Logging.dll"/>
	      </dependentAssembly>
	   </assemblyBinding>
	</runtime>
</configuration>