<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging"
               type="Common.Logging.ConfigurationSectionHandler, Common.Logging"
               requirePermission="false" />
    </sectionGroup>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler"
             requirePermission="false" />
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="level" value="ALL" />
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net debug="true">

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="./Web.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="1" />
      <param name="MaximumFileSize" value="1GB" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="true" />

      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>

    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p: %m" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>

  </log4net>
  
  
  <system.web>
    <compilation debug="true"/>
    <httpRuntime/>
  </system.web>
</configuration>