<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
    </configSections>

    <appSettings>
        <!-- used by DefaultConfigurationReaderTests -->
        <add key="appConfigCheck" value="FromAppConfig"/>
    </appSettings>
    
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
                <arg key="level" value="DEBUG"/>
                <arg key="showLogName" value="true"/>
                <arg key="showDataTime" value="true"/>
                <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
            </factoryAdapter>
        </logging>
    </common>

    <system.diagnostics>
        <sharedListeners>
            <add name="myListener" type="Common.MyTestTraceListener, Common.Logging.Tests">
                <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
            </add>
        </sharedListeners>
        <sources>
            <source name="TraceLoggerTests">
                <listeners>
                    <clear/>
                    <add name="myListener" type="Common.TestUtil.CapturingTraceListener, Common.Logging.Tests"/>
                </listeners>
            </source>
            <source name="DiagnosticsTracePerformanceTest" switchValue="All">
                <listeners>
                    <clear/>
                    <add name="myListener"/>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>

    <!--<system.diagnostics>
        <sharedListeners>
            <add name="myListener"
                 type="Common.MyTestTraceListener, Common.Logging.Tests">
                <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
            </add>
            <add name="myRealListener"
                 type="Common.Logging.Simple.CommonLoggingTraceListener, Common.Logging"
                 initializeData="DefaultTraceEventType=Information; LoggerNameFormat={0}.{1}; Name=DiagnosticsTraceLogger">
                <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
            </add>
        </sharedListeners>
        <trace>
            <listeners>
                <add name="myRealListener" />
            </listeners>
        </trace>
        <sources>
            <source name="DiagnosticsTracePerformanceTest" switchValue="All">
                <listeners>
                    <clear/>
                    <add name="myListener" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>-->

</configuration>
