<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.ETW.ETWLoggerFactoryAdapter, Common.Logging.ETWLogger">
        <arg key="commonLoggingEventSourceType" value="Common.Logging.ETWLogger.Tests.MyTestLoggerEventSource,Common.Logging.ETWLogger.Tests"/>
        <arg key="isWarnEnabled" value="true"/>
        <arg key="isErrorEnabled" value="1"/>
        <arg key="isDebugEnabled" value="yes"/>
      </factoryAdapter>
    </logging>
  </common>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
