<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.MultipleLogger.MultiLoggerFactoryAdapter, Common.Logging.MultipleLogger">
        <arg key="MeaninglessKey" value="MeaninglessValue"/>
      </factoryAdapter>
      <multipleLogging>
        <factoryAdapter type="Common.Logging.Log4Net.Log4NetFactoryAdapter, Common.Logging.Log4Net1219">
          <arg key="Arg" value="INFO"/>
        </factoryAdapter>
        <factoryAdapter type="Common.Logging.NLog.NLogFactoryAdapter, Common.Logging.NLog41">
          <arg key="Arg" value="INFO"/>
        </factoryAdapter>
      </multipleLogging>
    </logging>
  </common>

</configuration>